doctype 5
html(ng-app="exams")

    head 
        title exams
        link(type="text/css", rel="stylesheet", href="/css/main.css")

    body(ng-controller="com.exams.MainCtrl")

        span home page

        script(type="text/javascript", src="/js/lib/angular.js")
        script(type="text/javascript", src="/js/main.js")
